body {
	font-family: sans-serif;
	background-color: #2FF;
	font-size: 1.2em;
}

a {
	color: black;
	/*
	background-color: #CCC;
	padding: 3px 15px;
	border-radius: 4px;
	*/
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

#header-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background-color: #44F;
}

#header-content {
	width: 75%;
	margin: auto;
	padding: 10px 15px;
}

#header-content-right {
	float: right;
	margin-left: 200px;
}

#body-content {
	padding: 20px;
	width: 75%;
	margin: 40px auto;
}