body {
	font-family: 'Open Sans', sans-serif;
	background-color: #2FF;
}

a {
	color: black;
	/*
	background-color: #CCC;
	padding: 3px 15px;
	border-radius: 4px;
	*/
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

#header-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background-color: #47E;
}

#header-content {
	width: 75%;
	margin: auto;
	padding: 10px 15px;
}

#header-content-right {
	float: right;
}

#body-content {
	padding: 15px;
	width: 75%;
	margin: 40px auto;
}

#error_message {
	color: red;
	font-size: 0.9em;
}